* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: a;
    src: url(/resourc/font/one.ttf);
}

@font-face {
    font-family: b;
    src: url(/resourc/font/two.ttf);
}

@font-face {
    font-family: c;
    src: url(/resourc/font/three.otf);
}

@font-face {
    font-family: d;
    src: url(/resourc/font/four.ttf);
}

@font-face {
    font-family: e;
    src: url(/resourc/font/five.ttf);
}

@font-face {
    font-family: f;
    src: url(/resourc/font/six.ttf);
}

@font-face {
    font-family: g;
    src: url(/resourc/font/seven.ttf);
}

@font-face {
    font-family: h;
    src: url(/resourc/font/nine.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
}

h3 {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    height: auto;
    width: 100%;
    /* background-color: red; */
    background-color: white;
}

.name {
    background-color: #1B2433;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name h6 {
    font-family: h;
    font-weight: 100;
}

.about {
    height: 100px;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
    padding: 15px 1px 3px 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.about p {
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: small;
    font-family: h;
}

/* ---------------------------------- */

.edu {
    background-color: #3a86ba;

    height: 100px;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: h;
    padding-top: 5px;
}

.edu .edu12{
    height: auto;
    width: 80%;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: black;
}
/* ------------------------------------------------------ */
.skl{
    background-color: rgba(223, 226, 10, 0.775);
    /* background-color: #FFFFFF; */
     height: 150px;
    width: 90%;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
    font-family: h;
    padding-top: 5px;
}

.sklls{
    height: auto;
    width: 80%;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: black;
    font-weight: 900;
}
/* --------------------------------------------------- */

.proj{
    padding-top: 8px;
    background-color:  #EBE6FE;
    height: 120px;
    width: 90%;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
}

.prj{
    height: auto;
    width: 80%;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: black;
    font-family: h;
}

.cnt{
    padding-top: 8px;
    background-color:  #D7FCE3;
    height: 120px;
    width: 90%;
    margin: 10px auto;
    border-radius: 8px;
    text-align: center;
}

.contact{
    height: auto;
    width: 80%;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: black;
    font-family: h;
}












