*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.318);
    padding: 10px;
}

.box{
    height: 50px;
    width: 50px;
    background-color: rgba(113, 68, 68, 0.499);
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    color: black;
    padding-top: 10px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}


/* ///////////////////////////////// */














